*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(128, 128, 128, 0.753);
}
.container{
  display: flex;
  height: 100vh;

  border: 2px solid black;
}

.sidebar{
  border: 2px solid orange;
  width: 8%;
  max-width: 200px;
  min-width: fit-content;
  /* padding: 5rem; */
}

.body{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  border: 2px solid blue;
}

.header{
  border: 2px solid pink;
}

.main{
  border: 2px solid magenta;
  height: 100%;
  display: flex;
  justify-content: space-around;
}


/* everything popup */
.popupContainer,
.add-card-container{
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;      /*chage to none or flex*/
  justify-content: center;
  align-items: center;
  color: whitesmoke;



  background-color: rgba(8, 8, 20, 0.644);

}

.addTaskWindow,
.add-card-window{
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: 1rem;

  background-color: black;



}

.defaultInputBox{
  height: 1.8rem;
  outline: none;
  padding: .5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.descInputBox{
  outline: none;
  padding: .5rem;
  border-radius: 3px;
  border: none;
  resize: none;

}


.addTaskWindow button,
.add-card-window button{
  /* display: block; */
  margin-top: .5rem;
  padding: .5rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.addTaskWindow .deleteSubtaskBtn{
  border-radius: 0;
  padding: .3rem;
  margin-top: 0;
}

.subInput-close{
  display: flex;
  align-items: center;
  gap: .5rem;  
  width: 100%;
  justify-content: space-between;

}

.popupHeader,
.add-card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.popupHeader button,
.add-card-header button
{
  margin-top: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.subtaskContainer{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


/* sidebar */
.createBoardBtn{
  cursor: pointer;
}

/* main display */

.todo-container,
.doing-container,
.done-container{
  display: flex;
  flex-direction: column;
  gap:.5rem;

  /* flex-wrap: wrap; */


  /* background-color: orange; */
}

.card{
  background-color: grey;
  padding: .6rem;
  border-radius: 5px;
  cursor: pointer;

  border: 2px solid red;
}

.card p{
  max-width: 10rem;

}


